<%= @play.name %>

<TABLE>
  <tr>
    <th><%= sortable "name", "Role"%></th>
    <th><%= sortable "number_of_lines_spoken", "Number of Lines"%></th>
    <th><%= sortable "number_of_scences_role_appears", "Number of Scenes"%></th>
    <th><%= sortable "percent_total_scenes", "Percent Total Scenes"%></th>
    <th><%= sortable "longest_speech", "Longest Speech"%></th>
  </tr>

  <% @roles.each do |role| %>
    <tr>
      <th><%=role.name.titleize%></th>
      <td><%=role.num_lines%></td>
      <td><%=role.num_scenes%></td>
      <td><%=role.percent_scenes.round(2)%>%</td>
      <td><%=role.longest_speech%></td>
    </tr>
  <% end %>

</TABLE>

<br><br><br><br>


The table should show the following
statistics for each role in the play: number of lines spoken, longest
speech, number of scenes in which the role appears, and percent of total
scenes in which the role appears.










<%= link_to 'Back', root_path %>